<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291625374714-q4mvg4s2nrre5i2pr599tnh3u070upn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291625374714-q4mvg4s2nrre5i2pr599tnh3u070upn4</string>
	<key>API_KEY</key>
	<string>AIzaSyDsZd--hS_32YiFjl0AH9nLeb-gzYUUFyI</string>
	<key>GCM_SENDER_ID</key>
	<string>291625374714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bing.BloodBank</string>
	<key>PROJECT_ID</key>
	<string>bloodbank-51f28</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodbank-51f28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291625374714:ios:5bc72892c708ec92</string>
	<key>DATABASE_URL</key>
	<string>https://bloodbank-51f28.firebaseio.com</string>
</dict>
</plist>